[Unit]
Description=Start the project zomboid server script as a service
# AssertPathExists={{ config.cachedir }}/start-server.sh

[Service]
RemainAfterExit=yes
Restart=always
RestartSec=10
StartLimitInterval=0
TimeoutStartSec=0
ExecStart=/bin/sh -c 'echo "do something"'
# ExecStart=/bin/sh -c '{{ config.cachedir }}/start-server.sh -servername {{ config.servername }} -adminpassword {{ config.adminPW }} -cachedir={{ config.cachedir }}'

[Install]
WantedBy=multi-user.target
